body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#8a2be2,#00ffff);
  color:white;
}

.topbar{
  background:#14141c;
  display:flex;
  justify-content:space-between;
  padding:15px;
  align-items:center;
}

.stats span{
  margin-left:15px;
  font-weight:bold;
}

.ticket-form{
  background:#1f1f2b;
  padding:20px;
  margin:20px;
  border-radius:12px;
}

input,select,textarea,button{
  width:100%;
  margin:8px 0;
  padding:10px;
  border-radius:8px;
  border:none;
}

button{
  background:#8a2be2;
  color:white;
  cursor:pointer;
}

.ticket-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:15px;
  padding:20px;
}

.ticket-card{
  background:#14141c;
  padding:15px;
  border-radius:12px;
}

.Low{border-left:5px solid green;}
.Medium{border-left:5px solid yellow;}
.High{border-left:5px solid orange;}
.Critical{border-left:5px solid red;}

.cat-overlay{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.9);
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
